/*
Theme Name: bikinwebsite_07
Theme URI: bikinwebsite.com
Description: BikinWebsite 07 is a stylish and professionally designed theme for anyone who wants to make a great site.
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Author: Mr.Shine
Author URI: bikinwebsite.com
Tags: white, gray, light
Version: 1.0
*/

/******** ALL STYLE ********/

body{background-color:#fff;color:#000;font-family:open sans,verdana,arial;font-size:14px;letter-spacing:1.2px;line-height:24px;}
img {height:auto;max-width:100%;}
h1{font-size:20px;line-height:28px;}
h2{font-size:16px;line-height:24px;}
h3{font-size:16px;line-height:24px;}
b,strong {font-weight:700;}
dt {font-weight:700;}
dd {margin-left:0;padding-bottom:15px;}
dd, dt{line-height:24px;}
legend{font-size:16px;font-weight:bold;}
a{color:#000;-webkit-transition:all 0.4s ease 0s;-moz-transition:all 0.4s ease 0s;-ms-transition:all 0.4s ease 0s;-o-transition:all 0.4s ease 0s;transition:all 0.4s ease 0s;}
a:hover, a:focus{color:#666;text-decoration:none;}
p {margin:0px 0px 20px 0px;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {font-weight:700;}
blockquote{background-color:#f5f5f5;border-left:5px solid #999;font-size:16px;margin:0px 0px 30px 0px;padding:10px 20px;}
ul{padding-left:15px;width:100%;}
ol{padding-left:15px;width:100%;}
table{background-color:#f0f0f0;margin-bottom:30px;}
thead{}
thead tr{}
thead th{padding:10px;border:1px solid #ddd;}
tbody{}
tbody tr{}
tbody th{padding:10px;border:1px solid #ddd;}
tbody td{padding:10px;border:1px solid #ddd;}
address{background-color:#f0f0f0;font-family:courier new;padding:10px;}
pre{margin-bottom:30px;}

.container-all {max-width:1080px;margin:30px auto 30px;}
.container-fluid {padding-left:0px;padding-right:0px;}
.container{max-width:1080px;width:auto;}
.container {padding-left:0px;padding-right:0px;}
.row {margin-left:-10px;margin-right:-10px;}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, 
.col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, 
.col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {padding-left:10px;padding-right:10px;}

/*** <reset bootstrap menu> ***/
.bw_menu::before, .bw_menu::after {content:"";display:table;}
.bw_menu{width:100%;background-color:#fff;height:53px;}
.bw_logo{margin-top:50px; margin-bottom:50px;}
.bw_menunav{text-transform:uppercase; font-size:12px;}
.pr_menunav a{padding: 15px 30px 15px 0px;}
.navbar{margin-bottom:0;min-height:auto;position:fixed;}
.navbar-default{background-color:#fff;background-image:none;background-repeat:initial;border-top:3px solid #ea5a35;border-radius:0;box-shadow:0px 1px 3px rgba(190, 190, 190, 0.30);}
.bw_menu .marginleft_min30{margin-left:-30px;}
.navbar-default .navbar-nav > li > a{color:#77266b;}
.bw_logo_mobile{display:inline;float:left;margin-right:15px;max-width:140px;}
ul.bw_navbar_center {float:none;font-size:12px;}
ul.bw_navbar_center > li {display:block;}
.navbar-default .navbar-collapse,.navbar-default .navbar-form{background-color:#fff}
.navbar-collapse{overflow-x:hidden;padding:0}
.navbar-default .navbar-nav > .open > a,.navbar-default .navbar-nav > .active > a{background-image:none;box-shadow:none}
.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > .active > a:hover,.navbar-default .navbar-nav > .active > a:focus{background-color:transparent;text-transform:uppercase}
.navbar-default .navbar-nav > .open > a,.navbar-default .navbar-nav > .open > a:hover,.navbar-default .navbar-nav > .open > a:focus{background-color:transparent}
.navbar-default .navbar-nav > li > a{color:#000;text-transform:uppercase}
.dropdown-menu > li > a{clear:both;color:#999;display:block;font-weight:600;padding:8px 15px;white-space:nowrap;}
.dropdown-menu > li > a:hover{background-color:transparent;background-image:none}
.navbar-nav > li > .dropdown-menu{border-radius:0 0 3px 3px;margin-top:0px;box-shadow:none}
.dropdown-menu{background-clip:padding-box;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #f5f5f5;border-radius:4px;-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175);display:none;float:left;font-size:11px;left:0;list-style:none;margin:2px 0 0;min-width:160px;padding:8px 0;position:absolute;text-align:left;top:100%;z-index:999;text-transform:uppercase;}
.dropdown-menu > .active > a,.dropdown-menu > .active > a:hover,.dropdown-menu > .active > a:focus{background-color:#1eb093;background-image:none}
.caret{margin-left:5px;}
#bw_search_button{float:right;}
.bw_menu_search_form_mobile {display:inline;float:left;margin-bottom:8px;margin-top:8px;padding-left:25px;}
.bw_text_input{background-color:#f4f4f4;border:0px solid #838489;border-radius:2px;color:#999;font-size:10px;letter-spacing:1px;padding:5px 12px;text-transform:uppercase;width:230px;}
.bw_backtohome{display:none;float:left;margin-left:15px;margin-right:5px;margin-top:8px;}
.navbar-nav > li > a{color:#333 !important;font-weight:bold;padding-left:25px;padding-right:25px;}
.navbar-toggle{}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{background-color:#555;}
.navbar-default .navbar-toggle .icon-bar{background-color:#999;}
.navbar-brand, .navbar-nav > li > a{text-shadow:none;}
@media (max-width: 800px) {
.navbar-header {float:none;}
.navbar-toggle {display:block;}
.navbar-collapse.collapse {display:none !important;}
.navbar-collapse.collapse.in{display:block !important;}
.navbar-nav > li {float:none;}
.navbar-nav > li > a {padding-top:10px;padding-bottom:10px;}
.navbar-nav {margin:7.5px 15px;}
#bw_search_button{float:left;}
.navbar-nav > li > a, .bw_menu_search_form_mobile{padding-left:0px;padding-right:0px;}
.navbar-collapse{border-top:1px solid #e7e7e7;}
.bw_logo_mobile{margin-left:15px;}
}
/*** </reset bootstrap menu> ***/

/* default wp */
.bw_postlist.sticky{background-color:#ffffcc;padding-right:10px;}
.sticky .bw_date{color:#aaa;}
.sticky .bw_date a{color:#aaa;}
.wp-caption{border:1px solid #ddd;padding:6px;margin-bottom:15px;max-width:100%;}
.wp-caption-text{}
.bw_desc p.wp-caption-text{background-color:#f5f5f5;font-size:11px;margin-bottom:0px;padding-left:10px;}
.screen-reader-text{display:table;}
.gallery-caption{font-size:13px;padding-top:10px;}
.alignright{float:right;margin-left:15px;margin-bottom:15px;}
.alignleft{float:left;margin-right:15px;margin-bottom:15px;}
.aligncenter{margin-left:auto;margin-right:auto;text-align:center;}
#bw_post_pages{background-color:#f0f0f0;font-weight:bold;padding:0px 10px;text-transform:uppercase;}
#bw_post_pages span{}
#bw_post_pages a {background-color:#ddd;padding:5px;}

/* pagination */
.bw_pagination{display:table;padding:0px 10px;width:100%;}
.nav-previous{float:right;margin:0}
.nav-next{float:left;margin:0}
.nav-previous,.nav-next{padding:0px 0px 20px 0px;}
.nav-previous a,.nav-next a{background-color:#ea5a35;border-radius:2px;color:#fff;font-size:12px;font-weight:bold;padding:10px 15px;text-transform:uppercase;}

/* index */
.bw_postlist{border-radius:2px;}
.bw_date{color:#9b908c;font-size:9px;letter-spacing:1.5px;line-height:19px;padding-top:10px;text-align:center;text-transform:uppercase;}
.bw_short_desc{line-height:30px;}
.bw_thumb_title{}
.bw_thumb{}
.bw_thumb img{border-radius:2px;}
.bw_title{height:60px;margin-top:2px;text-align:center;}
.h1title{font-size:13px;font-weight:700;line-height:21px;margin-bottom:0;margin-top:0;}

/*single */
.bw_desc{line-height:35px;margin-bottom:30px;text-align:left;word-wrap:break-word;}
.bw_desc a{color:#ff5600;}
.bw_desc a:hover{color:#000;}
.bw_desc p{margin-bottom:30px;}
.bw_h1title_single{color:#000;font-size:25px;font-weight:700;line-height:29px;margin:30px 0px 40px 0px;text-align:center;word-wrap:break-word;}
.bw_sharetom{background-color:#fff;border:1px solid #ddd;display:block;float:left;padding:3px 3px 2px 3px;position:fixed;margin-left:-90px;margin-top:300px;top:0;width:65px;}
.bw_sharetom span{float:left;margin-bottom:1px;text-align:center;width:100%;}
.bw_facebook_top{background-color:#346da6;}
.bw_twitter_top{background-color:#4086cd;}
.bw_gooplus_top{background-color:#ca4638;}
.bw_pin_top{background-color:#e02f2f;}
.bw_breadcrumb{border-bottom:1px dotted #ccc;border-top:0;color:#999;font-size:11px;font-weight:700;padding:8px 0px 7px 0px;text-transform:uppercase;}
.bw_breadcrumb a{color:#999;}
.bw_breadcrumb_post{background-color:#fff;border-bottom:1px dotted #eee;border-top:0;color:#999;font-size:11px;font-weight:700;padding:6px 0px 6px 0px;text-transform:uppercase;}
.bw_breadcrumb_post a{color:#000;}
.bw_blog_items{border-bottom:1px dotted #ccc;color:#999;display:table;font-size:11px;font-weight:300;margin-bottom:50px;padding-bottom:15px;text-transform:uppercase;width:100%;}
.bw_blog_items a{color:#999;}
.bw_tags{float:left;margin-bottom:15px;max-width:100%;}
.bw_tags span{background-color:#eee;border-radius:2px;font-size:13px !important;float:left;margin-bottom:5px;margin-right:5px;padding:3px 15px;}
.bw_tags span a{}
.bw_img_crew a{color:#ff5600;font-weight:600;}
.bw_img_crew a:hover{color:#000;}
.bw_img_crew strong{color:#000;display:table;}
.bw_crew{border-bottom:1px dotted #ddd;font-size:13px;line-height:22px;margin-bottom:10px;padding-bottom:6px;text-transform:uppercase;}

/* sidebar */
.sidebar{}
.sidebar ul{list-style:none;padding:0px;}
.sidebar ul li{}
.sidebar .widget ul li{padding:0px 0px 15px 0px;}
.bw_left{max-width:730px;}
.bw_left_single{padding-right:30px;}
.bw_right {padding:0px;width:360px;}
h2.widgettitle{border:1px solid #ccc;font-size:11px;font-weight:700;margin-bottom:30px;margin-top:0px;padding:7px 0px;text-align:center;text-transform: uppercase;}
.widget{margin-bottom:50px;}
.widget ul.sub-menu{padding-left:15px;padding-top:15px;}

/* category */
.bw_infotitle{background-color:#f5f5f5;border-radius:2px;font-weight:bold;margin-bottom:20px;padding:7px 15px;}

/* widget */
.tagcloud{}
.tagcloud a{background-color:#eee;border-radius:2px;display:inline-block;font-size:13px !important;margin-bottom:5px;margin-right:5px;padding:3px 15px;}
.textwidget{max-width:300px;}
.widget #wp-calendar{width:300px;}
.widget #wp-calendar th, .widget #wp-calendar td{text-align:center;}
.h1title_widget{margin-top:0px;margin-bottom:5px;font-size:13px;font-weight:700;line-height:19px;}
.bw_date_sticky{color:#999;font-size:11px;font-weight:600;line-height:19px;padding-top:0px;}
.bw_date_sticky a{color:#999}

.bw_profilephoto{margin-bottom:15px;}
.bw_profilephoto > img {}
.bw_name{font-size:12px;font-weight:bold;margin-bottom:2px;text-align:center;}
.bw_biography{font-size:13px;text-align:center;}

/* footer */
.bw_footer {background-color:#ea5a35;color:#fff;float:left;font-size:10px;font-weight:normal;letter-spacing:1.8px;line-height:20px;padding:15px 5px;text-transform:uppercase;width:100%;}
.bw_footer_width{max-width:1080px;margin:auto;}
.bw_footer a {color:#fff;}
.bw_footer a:hover {color:#333;}
.widget_search{}
.widget_search #s{background-color:#f7f7f7;border:0px;border-radius:2px 0px 0px 2px;float:left;margin-bottom:10px;padding:7px;width:70%;}
.widget_search #searchsubmit{background-color:#e5e5e5;border:0;border-radius:0px 2px 2px 0px;color:#888;padding:7px;width: 30%;text-align:center;}
.screen-reader-text{display:none;}

/* author post pic */
.bw_author_post{display:table;margin-bottom:50px;margin-top:-51px;width:100%;}
.bw_author_post_items{background-color:#e1e1e1;margin:0px -15px;padding:30px 15px;}
.bw_author_pic{float:left;margin-right:23px}
.bw_author_desc{color:#666;font-size:13px;font-weight:300;line-height:1.8;}
.bw_author_socialsite{color:#333;font-size:13px;margin-top:10px;}
.bw_author_socialsite .fa{padding:0px 8px 0px 0px;}
.bw_author_socialsite a{color:#666;}
.bw_author_name a{color:#000;font-weight:800;}
.bw_author_name h4{margin-top:0px;}
.bypostauthor{}
.bw_author_name_desc{}
.bw_avatar {background-color:#fff;border:1px solid #ccc;border-radius:100%;padding:2px;}

/***** Comments *****/
#comments{color:#999;font-size:16px;font-weight:300;margin-bottom:30px;-ms-word-wrap:break-word;word-wrap:break-word;}
#respond{margin-top:30px;}
#respond p{margin-bottom:15px;}
#respond .comment-form p{padding-left:0px;}
.commentlist{line-height:30px;margin-bottom:50px;padding:0px;}
ol.commentlist li{list-style:none;}
.commentlist li.comment{margin-bottom:30px;}
.commentlist li.pingback{margin-bottom:30px;}
.comment-body{}
#commentform label{width:100%;font-size:14px;letter-spacing:0.8px;color:#bbb;font-weight:400;display:none}
#commentform p.comment-form-wp_spam_question_filter label{color:#000;display:inline-block;font-size:14px;font-weight:700;padding:8px 0px 8px 0px;line-height:20px;margin-bottom:0px;}
.comment-form-wp_spam_question_filter{background-color:#eee;border-radius:3px 3px 0px 0px;}
.required{color:#c7254e}
.comment-notes{color:#ccc;font-size:14px;line-height:24px;}
#reply-title{font-size:16px;font-weight:800;margin-bottom:15px;margin-top:0;text-transform:uppercase;}
#author,#email,#url,#comment{background:#fff;border:1px solid #e0e0e0;border-radius:0;padding:4px 10px;letter-spacing:0.8px;line-height:24px;}
#author,#email,#url{height:38px;width:100%}
#comment{height:150px;width:100%}
#respond .form-submit{margin:15px 0px 0px 0px;}
#form-allowed-tags,#form-allowed-tags code{color:#bbb;font-size:14px;background-color:initial}
#form-allowed-tags{display:none}
.logged-in-as{font-size:14px;}
.comment-meta,.reply{font-size:12px}
.comment-meta a{color:#c8c8c8}
.commentlist p{-ms-word-wrap:break-word;word-wrap:break-word;}
.comment-author {display:table;width:100%;}
.avatar {background-color:#fff;border:1px solid #ccc;border-radius:100%;float:left;padding:2px;}
.fn{color:#444;font-weight:bold;float:left;padding-left:21px;}
.says{float:left;padding-left:7px}
.commentmetadata{display:table;font-weight:300;padding:0px 0px 20px 78px;margin-top:-31px;width:100%;}
.pingback .commentmetadata{display:table;font-weight:300;padding:0px 0px 10px 0px;margin-top:-31px;width:100%;}
.comment-awaiting-moderation{float:left;width:100%;color:#b03767;}
ul.children{padding-left:0px;margin-left:30px;margin-top:30px;max-width:95%;}
ul.children li{border-bottom:0;margin-bottom:10px;padding-bottom:0}
.comment-author-link, .comment-author-link a{color:#000;font-weight:bold;}
.reply{padding-top:5px;}
.reply a{background-color:#444;border-radius:2px;padding:3px 7px 3px 8px;color:#fff;font-size:10px;text-transform:uppercase;}
.reply a:hover{background-color:#333;}
p.logged-in-as,p.comment-notes,p.comment-form-author,p.comment-form-email,p.comment-form-comment {margin-left:0px;}
.comment-reply-title small {float:right;padding-top:7px;}
.nocomments{color:#aaa;font-size:11px;margin:0px;text-transform:uppercase;}
li.depth-1 {border-bottom:1px dotted #ccc;padding-bottom:30px;}
.comment-body ul, .comment-body ol{}
.comment-body ul li{list-style-type:disc;list-style-position:inside;padding-bottom:15px;}
.comment-body ol li{list-style-type:decimal;list-style-position:inside;padding-bottom:15px;}
.comment-body li{padding-bottom:15px;}
.comment-form input[type="submit"]{background-color:#444;border:0px;border-radius:2px;color:#fff;padding:5px 15px 5px 15px; -webkit-transition:all 0.4s ease 0s;-moz-transition:all 0.4s ease 0s;-ms-transition:all 0.4s ease 0s;-o-transition:all 0.4s ease 0s;transition:all 0.4s ease 0s;}
.comment-form input[type="submit"]:hover{background-color:#000;color:#fff;}
li.pingback .fn{padding-left:0px;}
li.pingback .commentmetadata{margin:0px 0px 10px 0px;}
.rateit{margin-bottom:2px;}
.comment-notes{display:none;}
#commentform .comment-form-rating label {display:inline;font-weight:700;color:#000;}
#respond p.comment-form-rating{margin-bottom:5px;}
.g-recaptcha{margin-bottom:15px;}

/* 404 */
.bw_error_posts{color:#333;font-size:25px;font-weight:800;padding-bottom:15px;}
.bw_error{background-color:#fff;padding:15px;}
.bw_error_satu{border-bottom:1px solid #eee;margin-bottom:30px;text-align:center;}
.bw_error_posts_desc{margin-bottom:10px}
.bw_error_dua{color:#000}
.bw_error_dua ul{margin-top:5px}
.bw_error_dua ul li{padding-bottom:5px;list-style:inside disc}
.bw_error_dua span{font-size:20px;font-weight:700}
.bw_error_dua ul li a{color:#333}

/* default */
.margin5 {margin:5px;}
.margin10 {margin:10px;}
.margin15 {margin:15px;}
.margin20 {margin:20px;}
.margin25 {margin:25px;}
.margin30 {margin:30px;}
.margin_bt5{margin-bottom:5px;}
.margin_bt10{margin-bottom:10px;}
.margin_bt15{margin-bottom:15px;}
.margin_bt20{margin-bottom:20px;}
.margin_bt25{margin-bottom:25px;}
.margin_bt30{margin-bottom:30px;}
.margin_bt40{margin-bottom:40px;}
.margin_bt50{margin-bottom:50px;}
.margin_tp5{margin-top:5px;}
.margin_tp10{margin-top:10px;}
.margin_tp15{margin-top:15px;}
.margin_tp20{margin-top:20px;}
.margin_tp25{margin-top:25px;}
.margin_tp30{margin-top:30px;}
.padding5 {padding:5px;}
.padding10 {padding:10px;}
.padding15 {padding:15px;}
.padding20 {padding:20px;}
.padding25 {padding:25px;}
.padding30 {padding:30px;}
.bw_bcgwhite{background-color:#fff;padding:15px;}
.bw_h330{height:330px;}
.bw_center{text-align:center;}

@media (max-width:800px) {
body{background-color:#fff;}
.container-fluid {padding-left:10px;padding-right:10px;}
.container-all{margin:15px auto;}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {padding-left:10px;}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{color:#fff;}
.bw_postlist{padding-right:0px;margin-bottom:15px;}
.bw_postlist{background-color:transparent;}
.bw_date{color:#999;}
.bw_date a{color:#999;}
.bw_sharetom{display:none;}
.bw_breadcrumb{line-height:19px;}
.bw_h1title_single{font-size:20px;line-height:28px;margin:30px 0px 30px 0px;}
.bw_bcgwhite{}
.bw_author_post_items{margin:auto;}
ul.children{width:90%;}
.bw_postlist.sticky{background-color:transparent;}
.bw_right{background-color:transparent;margin-top:50px;padding:0px 10px;width:100%;}
.bw_left_single{padding-right:10px;}
.bw_left {max-width:100%;}
.bw_footer{text-align:center;}
.bw_breadcrumb_post{padding:8px 0px 7px 0px;}
}

@media (max-width:767px) {
.padding_lr10 {padding:0px 10px;}
}

@media (max-width:480px) {
.bw_short_desc{display:none;}
.bw_bcgwhite{background-color:transparent;padding:0px;}
.bw_postlist{margin-bottom:30px;}
.bw_title{height:50px;}
.bw_breadcrumb{background-color:transparent;padding:8px 0px 7px 0px;}
.bw_mob_right{float:right;}
.bw_crew{border-bottom:0;}
}