*{
    margin: 0px;
    padding: 0px;
}

body {
    width: 1100px;
    height: auto;
    background-image: url(./imagenes/ladrillo\ .jpg);
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    top: 150px;
    margin: 0 auto;
}

#contenedor {
    width: 1000px;
    margin: auto;
    text-align: left;
    padding: 10px;
}

header {
    width: 1000px;
    height: 100px;
    background-image: url(./imagenes/bandera\ correjida.jpg) ;
    background-size: 100% auto;
    margin-bottom: 10px;
}

header h1 {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 60px;
    text-align: center;
    line-height: 100px;
}

nav {
    background-image: url(./imagenes/concertina-p1.jpg);
    background-size: 100% auto;
    width: 1000px;
    height: 55px;
    margin-top: 0px;
    z-index: auto;
    font-family: 'Permanent Marker', cursive;   
}

#contenido {
    width: auto;
    height: auto;
    float: left;
    margin:  0 auto;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 25px;
 }

footer {
    background: grey;
    clear: both;
    text-align: center;
    padding-top: 10px;
  
}
#titulo2 {
    font-size: 25px;
    width: 300px;
    height: 40px;
    margin: auto;
}    

#tapa {
    width: 400px;
    height: 250px;
    background: white;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

#sinopsis {
    width: 900px;
    height:auto;
    text-align: justify;
    font-size: 17px;
    padding: 25px;
    margin: auto;
    margin-top: 10px;
}

#reparto {
    width: 900px;
    height: 1075px;
    font-size: 17px;
    padding: 25px;
    margin: 150px auto 0;
    margin-top: 10px;
}

#titulo1 {
    font-size: 25px;
    width: 40px;
    height: 40px;
    margin: left;
    padding: 10px;
}

#textact {
    width: 850px;
    height: auto;
    float: left;
    padding: 10px;
    text-align: justify;
    padding: 10px;
    margin: auto
}
  
.fotact {
    float: left; 
    margin-right: 10px;
}

#salas {
    width: 850px;
    height: 300px;
    background-image: url(./imagenes/black-and-white-barbed-wire-background-17.jpg);
    background-size: 100% auto;
    font-size: 17px;
    padding: 25px;
    margin: 0 auto;
    margin-top: 10px;
    border:thin solid red;
    border-radius: 20px;
}

#formulario {
    width: 500px;
    height: auto;
    background: hsl(0, 1%, 14%);
    padding: 25px;
    margin: auto;
    margin-top: 25px;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 30px;
    border: 3px solid rgb(41, 40, 40);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    box-shadow: inset 0 0 10px #000; 
    text-align: left;
    overflow: hidden;
    text-align: center;
    
    
}

#galeria {
    width: 900px;
    height: auto;
    font-size: 17px;
    padding: 25px;
    margin: auto;
    margin-top: 10px;
}

#ficha {
    width: 600px;
    height: 250px;
    font-size: 17px;
    margin: auto;
    margin-bottom: 15px;
}

#foto1 {
    width: 810px;
    height: 1125px;
    text-align: center;
    margin: auto;
    background-image: url(./imagenes/images.jpg);
    padding: 15px;
    border:thin solid white;
    border-radius: 20px;
}

table {
    border: thick groove white;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

td {
    padding: 7px;
}

.nav_menu {
  padding: 15px 15px;
  display: inline-block;
}
#nav {
    float: right;
}

#nav a:hover {
    background-color: #333333;
    color: red;
}

#nav.li {
    display: inline;
    text-align: left;
    margin: 0 10px 0 0;
    padding: 5px;
}

#salas li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: auto;
    margin-right: auto;
}

#titulo3 {
    font-size: 40px; 
}

form input {
    width: 250px;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 25px;
    color: #000; 
}
form select {
    width: 75px;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 25px;
    color: #000;
}

form textarea {
    width: 350px;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 25px;
    color: #000;
}

form button {
    width: 150px;
    margin: auto;
    height: 50px;
    background: #3c3c3c; /* Old browsers */
    background: -moz-linear-gradient(top, #3c3c3c 0%, #2a2828 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #3c3c3c 0%,#2a2828 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #3c3c3c 0%,#2a2828 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3c3c', endColorstr='#2a2828',GradientType=0 ); /* IE6-9 */
    border: 1px solid #232323;
    color: #fff;
    box-shadow: 0px 2px 0px #000;
    -moz-box-shadow: 0px 2px 0px #000;
    -webkit-box-shadow: 0px 2px 0px #000;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 25px;
}

form button:hover {
    background: #3a3a3a;
}

form button:active {
    background: #2a2828; /* Old browsers */
    background: -moz-linear-gradient(top, #2a2828 0%, #3c3c3c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #2a2828 0%,#3c3c3c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #2a2828 0%,#3c3c3c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2828', endColorstr='#3c3c3c',GradientType=0 ); /* IE6-9 */
}

div label {
    width: 120px;
    text-align: right;   
}

.menu-fixed {
    position: fixed;
    z-index: 1000;
    top: 0;
    max-width: 1000px;
    width: 100%;
}

.dropbtn {
    background-color: transparent;
    color: rgb(5, 16, 175);
    padding: 1px;
    font-size: 30px;
    border: none;
    font-family: 'Permanent Marker', cursive;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-image: url(./imagenes/bandera-estados-unidos-guantanamo-cuba1.jpg);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #06e0e0;
}

